[package]
authors = ["Cyril Plisko <cyril.plisko@mountall.com>"]
description = "Rust HTTP client API styled after awesome Python requests - [WORK IN PROGRESS]"
keywords = ["http", "rest", "client", "python", "requests"]
license = "MIT"
name = "requests"
repository = "https://github.com/imp/requests-rs.git"
homepage = "https://github.com/imp/requests-rs"
version = "0.0.10"

[dependencies]
hyper = "0.9.6"
serde = "0.7.6"
serde_json = "0.7.1"
serde_macros = "0.7.5"

[dev-dependencies]
clippy = "0.0.*"
